<%= stylesheet_link_tag "simple_burn" %>
<div class="full-width-container">
	<div class="container">

		<div class="burn">
			<div class="character"><%="A"%>
			</div>
		</div>

		<div class="inputs">
			<div class="revenues">
				<%="Revenue"%>
				<input autofocus="autofocus" id="revenue" name="" type="" value="">
				<div class="rev-growth"><%="% growth"%></div>
			</div>
			<div class="expenses">
				<%="Expenses"%>
				<div class="exp-growth"><%="% growth"%></div>
			</div>

		</div>
		<div class="cash-balance"><%="Cash balance"%></div>
	</div>

</div>