<%= stylesheet_link_tag "simple_burn" %>
<div class="full-width-container">
	<div class="container">

		<div class="burn">
			<div class="number"><%="4"%>
				<span class="descriptor"><%="days"%></span>
			</div>
		</div>

		<div class="inputs">
			<div class="revenues">
				<div class="text"><%="Revenue"%></div>
				<input autofocus="autofocus" id="revenues" name="" type="" value="">
				<div class="rev-growth">
					<%="% growth"%>
					<input autofocus="autofocus" id="rev-growth" name="" type="" value="">
				</div>
			</div>
			<div class="expenses">
				<div class="text"><%="Expenses"%></div>
				<input autofocus="autofocus" id="expenses" name="" type="" value="">
				<div class="exp-growth">
					<%="% growth"%>
					<input autofocus="autofocus" id="exp-growth" name="" type="" value="">
				</div>
				
			</div>

		</div>
		<div class="cash-balance">
			<%="Cash balance"%>
			<input autofocus="autofocus" id="cash" name="" type="" value="">
			<span class="clear"></span>
		</div>

	</div>

</div>