<%= stylesheet_link_tag "simple_burn" %>
<div class="full-width-container">
	<div class="container">

		<div class="burn">
			<div class="character"><%="A"%>
			</div>
		</div>

		<div class="inputs">
			<div class="revenues">
				<%="Revenue"%>
				<input autofocus="autofocus" id="revenues" name="" type="" value="">
				<div class="rev-growth"><%="% growth"%></div>
			</div>
			<div class="expenses">
				<%="Expenses"%>
				<input autofocus="autofocus" id="expenses" name="" type="" value="">
				<div class="exp-growth">
					<%="% growth"%>
				</div>
				
			</div>

		</div>
		<div class="cash-balance">
			<%="Cash balance"%>
			<input autofocus="autofocus" id="cash" name="" type="" value="">
		</div>

	</div>

</div>